{% extends "base.html" %}

{% block content %}
<h1>New post</h1>

<!--Используем HTML теги <form> с методом POST, так как мы отправляем данные
    Если бы мы получаем данные из формы, например, в поле поиска, 
    мы бы использовали GET.-->
<form action="" method="post">
    {% csrf_token %}
    <!-- ^ {% csrf_token %}, который Django предоставляет для защиты нашей формы 
        от межсайтовой подделки запросов. 
        Вы должны использовать его для всех ваших форм Django.-->
    {{ form.as_p }}
    <!-- ^ Затем для вывода данных нашей формы мы используем {{ form.as_p }}, 
        который отображает указанные поля в тегах параграфа <p>.-->
    <input type="submit" value="Save">
    <!--                          ^ текст внутри кнопки -->
    <!--            ^ submit используется для подтверждения отправки изменений на сервер -->
    <!-- ^ кнопка по которой можно нажать (в данном случае создана сохранения)-->
</form>
{% endblock content %}